.navbar {
    background-color: #14213d; /* Darker than sky blue */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
    /* width: 100%; */
  }
  
  .left-icons {
    display: flex;
    gap: 20px;
  }
  
  .nav-icon {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .nav-icon:hover {
    border-bottom: 2px solid white;
  }
  
  .nav-icon.active {
    border-bottom: 2px solid white;
  }
  
  .company-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  